*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 50px 70px;
    /* position: absolute; */
}

.nav{
    display: flex;
    gap: 100px;
    align-items: center;
}

.logo{
    width: 123px;
height: 46px;

font-family: 'Losta Masta';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 46px;
color: #000000;
}

li{
    list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #000000;

}


nav ul{
    display: flex;
flex-direction: row;
align-items: flex-start;
align-items: center;
padding: 0px;
gap: 35px;
/* margin-left: -300px; */
width: 437px;
height: 30px;
}

nav a{
    color: #000000;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
    /* background-color: red; */
}

nav a:hover{
    border-bottom: 2px solid black;
}

nav .icons{
    display: flex;
    width: 128px;
    justify-content: space-around;
}

nav span{
    cursor: pointer;
}

.content{
    padding: 0px 50px;
}

.content h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
font-size: 40px;
line-height: 60px;
}

.row-one{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}

.row-one img{
    width: 605px;
height: 512px;
}

.row-one p{
    margin-top: 30px;
    font-weight: 400;
font-size: 20px;
line-height: 40px;
}


.row-two{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row-reverse;
    align-items: left;
    justify-content: left;
    gap: 50px;
}

.row-two img{
    width: 818px;
    height: 687px;
margin-top: -100px;
}

.row-two p{
    margin-top: 100px;
    font-weight: 400;
font-size: 20px;
line-height: 40px;
}

.top-row{
    display: flex;
    justify-content: space-around;
    /* padding: 0px 100px; */
}

.card{
    width: 234px;
height: 169px;
}


.card span{
    text-align: center;
}


.team{
    margin-top: 100px;

}

.the-team{

    display: flex;
    flex-direction: column;
    gap: 100px;
}


footer{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}

.lists{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
}

.lists ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lists ul p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.lists a{
    text-decoration: none;
    color: #000000;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    margin-top: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.foot .logo{
    color: #000000;
    font-weight: 700;
font-size: 36px;
align-items: last baseline;
gap: 10px;
display: flex;
}

.foot .logo span,
.foot .logo i
{
    font-weight: 275;
font-size: 12px;
color: grey;
}

i{
    color: grey;
}